<div id="head">
    <nav class="navMenu">
        <a routerLink="login">Login</a>
        <a routerLink="catalogue">Catalogue</a>
        <a routerLink="trainer">Trainer</a>
        <div class="dot"></div>
    </nav>
</div>