<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <div class="form__group field">
    
        <input type="text"
        class="form__field"
        name="username"
        id="username"
        placeholder="Type in username..." 
        ngModel
        required
        />
        <label htmlFor="Type in username.." class="form__label">Username:</label>

        <button type="submit">Login</button>
    
        
    </div>
</form>
