.pokeItem {
    padding: 10px 40px;
}

.pokeImg {
    width: 20%px;
}

.pokeText {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pokeItem:hover{
    cursor: pointer;
    box-shadow: 1px 2px 8px red;
}