<li class="pokeItem" *ngIf="pokemon"  (click)="test()">
    <section>
        <img class="pokeImg" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" alt="pokemon{{pokemon.id}}" />
        <span class="pokeText">{{ pokemon.name }}</span>
    </section>
</li>

