<li class="pokeItem" *ngIf="pokemon != undefined" (click)="test()">
    <section>
        <img class="pokeImg" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" />
        <span class="pokeText">{{pokemon.name}}</span>
    </section>
</li>
