<button (click)="logout()">Log Out!</button>
<!-- <app-pokemon-list-item *ngFor="let poke of pokemons" [pokemon]="poke"></app-pokemon-list-item> -->
<app-trainer-pokemon *ngFor="let poke of pokemons" [pokemon]="poke"></app-trainer-pokemon>