.navMain {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    /* flex-direction: row; */
}

.navMain > div{
    display: inline-flex;
    flex: 1;
    flex-grow: 1;
    /* height: 25px;
    width: 25px; */
    background-color: #bbb;
    border-radius: 50%;
}
div > svg:hover{
    cursor: pointer;
}

div > svg{
    margin: 20px;
}

#navMain{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}