
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    z-index: 0;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 10px;
  }
  .form__field::placeholder {
      color: transparent;
    }
  .form__field:placeholder-shown~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #000000;
      font-weight:700;    
    }
  /* reset input */
  .form__field:required,:invalid { box-shadow:none; }
  
  form {
      font-family: 'Poppins', sans-serif; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 40vh;
      font-size: 1.5rem;
    }